{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block content %}
    <div class="row">
        {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
            'entity' : 'SeanceConduite',
            'repository_method' : 'findAll',
            'title' : 'Users',
            'css_class' : 'bg-gray-active',
            'icon' : 'fa-users'
        }) }}
        {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
            'entity' : 'AppBundle:Delivery',
            'repository_method' : 'findAllDeliversInProgress',
            'title' : 'Deliveries in Progress',
            'css_class' : 'bg-yellow',
            'icon' : 'fa-truck'
        }) }}
        {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
            'entity' : 'AppBundle:Delivery',
            'repository_method' : 'findAllFailedDelivers',
            'title' : 'Failed Deliveries',
            'css_class' : 'bg-red',
            'icon' : 'fa-truck'
        }) }}
    </div>
{% endblock %}